{% extends "base.html" %}

{% block title %} Página principal {% endblock %}

{% block content %}
<div class="row div-texto-pagina-principal">
    <div class="col div-imagem-capa">
       <h1 class="fs-5 mt-3 mb-3 titulo-pagina-principal fw-bold">Sobre Anna Bella</h1>
       <p class="paragrafos-pagina-principal">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       </p>

       <p class="paragrafos-pagina-principal">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       </p>

       <p class="paragrafos-pagina-principal">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       </p>
    </div>
</div>
{% endblock %}